%h1 This is the graph page.

= @kind
- csv = @daisen_data[@kind]
- headers = csv.headers
%table
  %thead
    %tr
      - headers.each do |k|
        %th= k
  %tbody
    - csv.each do |r|
      %tr
        - headers.each do |k|
          %td= r[k]
